<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
    <link rel="stylesheet" href="{{ url_for('static', filename='assets/css/lesson1.css') }}">
    <title>Formal vs Informal German</title>
</head>
<body>
    <div class="container">
        <h1>When to Say "You" the Formal Way vs. the Chill Way in German</h1>
        <p>Imagine this: You're in Germany, ready to chat. But wait, there's a twist in how you say "you"! Sometimes it's like shaking hands, and other times it's like giving a friendly high-five. Let's break it down.</p>
        
        <h2>The Handshake Version: "Sie"</h2>
        <ul>
            <li><strong>Use it with strangers:</strong> Like saying "hello" with a polite nod.</li>
            <li><strong>At work:</strong> Picture talking to your boss or a VIP client.</li>
            <li><strong>Talking to someone like a teacher:</strong> Showing respect.</li>
            <li><strong>Writing a letter or email to someone you don't know well:</strong> Keeping it classy.</li>
        </ul>

        <h2>The High-Five Version: "du"</h2>
        <ul>
            <li><strong>With your squad:</strong> Your friends and family get this one.</li>
            <li><strong>Kids and teens:</strong> They're all part of the cool club.</li>
            <li><strong>Hanging out:</strong> At parties or chill spots, "du" is the way to go.</li>
        </ul>
        
        <h2>So, When Do We Switch?</h2>
        <p>Here’s the secret handshake: Usually, the older or the person-in-charge suggests moving from "Sie" to "du". It’s like being invited to a VIP club!</p>
        
        <h2>Why So Complicated?</h2>
        <p>It's not just grammar; it's about showing respect and understanding who you're talking to. Think of it as a way to keep things smooth, whether you're at a fancy dinner or just hanging out with new friends.</p>

        <h2>Keep It Cool</h2>
        <p>Remember, using "Sie" and "du" right shows you get the vibe. It's all about matching the level of respect with the situation. Keep practicing, and soon you'll be high-fiving and handshaking like a pro in German conversations!</p>
    </div>
    <div class="button-container">
        <a href="/" class="button back-home-button">Back to Home</a>
        <a href="{{ url_for('main.quiz') }}" class="button quiz-button">Go to Quiz</a>
    </div>
</body>
</html>